@charset "UTF-8";

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Raleway',sans-serif;
}

a {
  display: inline-block;
  transition: 0.3s;
}

img {
  vertical-align: top;
}

.text__btn:hover {
  color: #333;
}

.text__btn {
  text-decoration: none;
  color: #fff;
  font-family: 'Lato',sans-serif;
  font-size: 12px;
  background-color: #74cfae;
}

.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
}

.header__inner {
  padding: 15px 0;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__icon {
  color:  #4e4e4e;
}

.header__btn {
  padding: 14px 12px;
}

.humberger__btn {
  cursor: pointer;
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 25px;
}

.humberger__line {
  background-color: #4e4e4e;
  display: block;
  margin-bottom: 5px;
  height: 2px;
}

.humberger__line:last-child {
  margin-bottom: 0;
}

.sp__contact__btn {
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  color: #f2f2f2;
  background-color: #74cfae;
  text-decoration: none;
  display: none;
}

.main__visual {
  margin-top: 78px;
  background-color: #f2f2f2;
}

.main__visual__inner {
  width: 1100px;
  margin: 0 auto;
  padding-top: 250px;
  padding-bottom: 250px;
}

.main__visual__title {
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.main__visual__sub__title {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.about {
  background-color: #74cfae;
}

.about__inner {
  padding-top: 50px;
  width: 1100px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.about__text {
  text-align: center;
  color: #fff;
}

.about__main__text {
  font-size: 24px;
}

.about__sub__text {
  font-size: 20px;
  font-family: 'Lota',sans-serif;
  margin-top: 35px;
}

.event {
  background-color: #f2f2f2;
}

.event__inner {
  width: 1100px;
  margin: 0 auto;
  padding-bottom: 70px;
  padding-top: 60px;
}

.event__title {
  text-align: center;
  color: #333;
  font-size: 24px;
}

.img__block {
  margin-top: 40px;
  text-align: center;
}

.middle__img {
  opacity: 0.7;
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

.middle__img:hover {
  opacity: 1;
}

.event__footer {
  text-align: center;
  margin-top: 90px;
  justify-content: center;
  align-items: flex-start;
}

.event__footer__text {
  font-size: 20px;
  font-family: 'Lato',sans-serif;
  color: #333;
}

.event__btn {
  padding: 14px 20px;
}

.work {
  background-color: #4e4e4e;
}

.work__inner {
  width: 1100px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 100px;
}

.work__text {
  margin-bottom: 70px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.rool__set {
  margin-left: 180px;
}

.rool__set:first-child {
  margin-left: 0;
}

.rool__text {
  margin-top: 15px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.nav {
  background-color: #f2f2f2;
}

.nav__inner {
  width: 1100px;
  margin: 0 auto;
  padding: 200px 0;
}

.nav__btn__block {
  justify-content: center;
}

.nav__btn__outer {
  text-align: center;
  background-color: #f2f2f2;
}

.nav__btn:hover {
  background-color: #fff;
}

.nav__btn {
  padding: 30px 0;
}

.icon__color {
  color: #74cfae;
}

.footer {
  background-color: #74cfae;
}

.footer__inner {
  width: 1100px;
  margin: 0 auto;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer__text {
  color: #fff;
  font-size: 16px;
  font-family: 'Lato',sans-serif;
}

@media screen and (min-width: 1200px) {
.about__inner {display: flex;}

.about__text {margin-left: 150px;}

.middle__img {margin-left: 100px;}

.middle__img {float: left;}

.middle__img:nth-child(n+4) {margin-top: 80px;}

.middle__img:nth-child(3n+1) {margin-left: 0px;}

.event__footer {display: flex;}

.event__footer__text {
  margin-right: 90px;
  width: 550px;
}

.work__block {
  display: flex;
  justify-content: center;
}
}

@media screen and (max-width: 1199px) {
.header__inner {width: 97%;}

.main__visual__inner {width: 97%;}

.footer__inner {width: 97%}

.about__text {margin-top: 20px;}

.about__inner {
  width: 97%;
  padding-bottom: 25px;
  text-align: center;
}

.event__inner {width: 97%}

.middle__img:nth-child(3n) {margin-bottom: 80px;}

.event__footer {margin-top: 80px;}

.event__footer__text {margin: 0 auto;}

.event__btn__outer {margin-top: 40px;}

.work__inner {width: 97%}

.work__block {text-align: center;}

.rool__set {
  margin-left: 0;
  margin-bottom: 88px;
}

.rool__set:last-child {margin-bottom: 0;}

.nav__inner {width: 97%}
}

@media screen and (min-width: 767px) {
.sp__menu__btn {display: none;}

.nav__btn__block {display: flex;}

.nav__btn {width: 185px;}
}

@media screen and (max-width: 766px){
.header__btn {display: none;}

.main__visual__inner {
  padding-top: 160px;
  padding-bottom: 130px;
  font-size: 80px;
}

.main__visual__sub__title {
  margin: 0 auto;
  width: 300px;
  padding-top: 20px;
}
.nav__inner {padding: 50px 0;}

.nav__btn {width: 100%;}

.nav__btn__outer {padding: 0 15px;}
}